<template>
  <div
    class="modal fade"
    :id="idModal"
    tabindex="-1"
    role="dialog"
    :aria-labelledby="`${idModal}Label`"
    aria-hidden="true"
  >
    <div :class="`modal-dialog ${tamanho}`" role="document">
      <div :class="`modal-content `">
        <div class="modal-header">
          <h5 class="modal-title" :id="`${idModal}Label`">{{ title }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    props:['idModal', 'title', 'tamanho'],
    
};
</script>

<style>
</style>