.label-float{
    position: relative;
    padding-top: 13px;
   
  }

  .label-float input, .label-float select{
    height: 28px !important;
  }
  
  .label-float input,  .label-float textarea, .label-float select{
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    width: 100%;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
    
  }
  
  .label-float input:focus, .label-float textarea:focus, .label-float select:focus {
    border-bottom: 2px solid #265CFF;
  }
  
  .label-float input::placeholder, .label-float textarea::placeholder, .label-float select::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label,   .label-float textarea:required:invalid + label, .label-float select:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid,   .label-float textarea:focus:required:invalid, .label-float select:focus:required:invalid {
    border-bottom: 2px solid red;
  }
  .label-float input:required:invalid + label:before, .label-float textarea:required:invalid + label:before, .label-float select:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label,
  .label-float textarea:focus + label,
  .label-float textarea:not(:placeholder-shown) + label,
  .label-float select:focus + label,
  .label-float select:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #265CFF;
  }

  table {
    font-size: 14px;
  }

  table tr th{
    padding:2px !important;
    font-weight: bold;
  }