<template>
<div>
    <form @submit.prevent="submit()">
        <div class="row">
            <div class="col-12 col-md-8 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        placeholder=" " 
                        required 
                        v-validate="'required'" 
                        data-vv-scope="paciente"
                        v-model="form.nome"
                    />
                    <label>Nome Completo</label>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3 mt-3">
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="sexo" 
                        id="inlineRadio1" 
                        value="m" 
                        required
                        v-validate="'required'" 
                        data-vv-scope="paciente"
                        v-model="form.sexo"
                    >
                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="sexo" 
                        id="inlineRadio2" 
                        value="f" 
                        required 
                        v-validate="'required'" 
                        data-vv-scope="paciente"
                        v-model="form.sexo"
                    >
                    <label class="form-check-label" for="inlineRadio2">Feminino</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        v-mask="'##/##/####'" 
                        placeholder=" "
                        v-model="form.data_nascimento"
                        required
                    >
                    <label>Data Nascimento</label>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        v-mask="'###.###.###-##'" 
                        placeholder=" "
                        v-model="form.cpf"
                    />
                    <label>CPF</label>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        placeholder=" "
                        v-model="form.rg"
                    />
                    <label>RG</label>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        v-mask="'(##) #####-####'" 
                        placeholder=" "
                        v-model="form.celular"
                    />
                    <label>Celular</label>
                </div>
            </div>

            <div class="col-12 col-md-8 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        placeholder=" "
                        v-model="form.email"
                    />
                    <label>E-mail</label>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="label-float">
                    <input 
                        type="text" 
                        v-mask="'(##) ####-####'"
                        placeholder=" "
                        v-model="form.telefone"
                     />
                    <label>Telefone</label>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="label-float">
                    <textarea 
                        placeholder=" " 
                        rows="3"
                        v-model="form.observacoes"
                    ></textarea>
                    <label>Observações</label>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <div class="card shadow ">
                    <!-- Card Header - Accordion -->
                    <a href="#enderecoPaciente" class="d-block card-header py-3" data-toggle="collapse"
                        role="button" :aria-expanded="edit ? true : false" aria-controls="enderecoPaciente">
                        <h6 class="m-0 font-weight-bold text-primary">Endereço</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div :class="`collapse ${edit ? `show` : ``}`" id="enderecoPaciente">
                        <div class="card-body row">
                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text" 
                                        v-mask="'#####-###'" 
                                        placeholder=" "
                                        v-model="form.endereco.cep"
                                        @change="setCep()"
                                    />
                                    <label>CEP</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.endereco.rua"
                                    />
                                    <label>Rua</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.endereco.numero"
                                    />
                                    <label>Número</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.endereco.complemento"
                                    />
                                    <label>Complemento</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.endereco.bairro"
                                    />
                                    <label>Bairro</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                    <select  
                                        placeholder=" " 
                                        @change="setMunicipio()"
                                        v-model="form.endereco.estado"
                                    >
                                        <option value="" selected>Selecione aqui</option>
                                        <option v-for="estado in estados" :key="estado.id" :value="estado.id">{{ estado.nome }}</option>
                                    </select>
                                    <label>Estado</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="label-float">
                                <select  
                                    placeholder=" " 
                                    v-model="form.endereco.municipio"
                                >
                                    <option value="" selected>Selecione aqui</option>
                                    <option v-for="municipio in municipios" :key="municipio.id" :value="municipio.id">{{ municipio.nome }}</option>

                                </select>
                                    <label>Município</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div :class="`card shadow`">
                    <!-- Card Header - Accordion -->
                    <a href="#planoPaciente" class="d-block card-header py-3" data-toggle="collapse"
                        role="button" :aria-expanded="edit ? true : false" aria-controls="planoPaciente">
                        <h6 class="m-0 font-weight-bold text-primary">Plano</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div :class="`collapse ${edit ? `show` : ``}`" id="planoPaciente">
                        <div class="card-body row">

                            <div class="col-12 mb-3">
                                <div class="label-float">
                                <select  
                                    placeholder=" " 
                                    v-model="form.plano.plano_id"
                                >
                                    <option value="">Selecione aqui</option>
                                    <option v-for="plano in planos" :key="plano.id" :value="1">{{ plano.nome }}</option>
                                </select>
                                    <label>Plano</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.plano.numero_carterinha"
                                    />
                                    <label>Número da Carteirinha</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-model="form.plano.titular_plano"
                                    />
                                    <label>Titular do plano</label>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mb-3">
                                <div class="label-float">
                                    <input 
                                        type="text"  
                                        placeholder=" "
                                        v-mask="'###.###.###-##'"
                                        v-model="form.plano.cpf_titular"
                                    />
                                    <label>CPF do titular</label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-circle btn-lg btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
        <notifications position="top right" group="submit"/>
    </form>
</div>

        







</template>

<script>
import moment from 'moment';
import Mixins from './../shared/Mixins/mixins';
export default {

    props:[
        'edit'
    ],

    mixins:[ 
        Mixins
    ],

    data(){
        return{
            estados: [],
            municipios: [],
            planos: [],
            form:{
                nome: null,
                sexo: null,
                data_nascimento: null,
                cpf: null,
                rg: null,
                celular: null,
                email: null,
                telefone: null,
                observacoes: null,
                endereco: {
                    cep: null,
                    rua: null,
                    numero: null,
                    complemento: null,
                    bairro: null,
                    municipio: null,
                    estado: null,
                },
                plano: {
                    plano_id: null,
                    numero_carterinha: null,
                    titular_plano: null,
                    cpf_titular: null
                },
                _method: 'post'
            }
        }
    },

    watch:{
        'edit': function(value){
            this.form.nome =  this.edit ? this.edit.nome : null,
            this.form.sexo = this.edit ? this.edit.sexo : null,
            this.form.data_nascimento = this.edit ? moment(this.edit.data_nascimento).format('DD/MM/YYYY') : null,
            this.form.cpf = this.edit ? this.edit.cpf : null,
            this.form.rg = this.edit ? this.edit.rg : null,
            this.form.celular = this.edit ? this.edit.celular : null,
            this.form.email = this.edit ? this.edit.email : null,
            this.form.telefone = this.edit ? this.edit.telefone : null,
            this.form.observacoes = this.edit ? this.edit.observacoes : null,
            this.form.endereco = {
                id: this.edit && this.edit.endereco ? this.edit.endereco.id : null,
                cep: this.edit && this.edit.endereco ? this.edit.endereco.cep : null,
                rua: this.edit && this.edit.endereco ? this.edit.endereco.rua : null,
                numero: this.edit && this.edit.endereco ? this.edit.endereco.numero : null,
                complemento: this.edit && this.edit.endereco ? this.edit.endereco.complemento : null,
                bairro: this.edit && this.edit.endereco ? this.edit.endereco.bairro : null,
                municipio: this.edit && this.edit.endereco ? this.edit.endereco.municipio_id : null,
                estado:  this.edit && this.edit.endereco ? this.edit.endereco.municipio.estado.id : null,
            },
            this.form.plano = {
                id: this.edit && this.edit.plano ? this.edit.plano.id : null,
                plano_id: this.edit && this.edit.plano ? this.edit.plano.id : null,
                numero_carterinha: this.edit && this.edit.plano ? this.edit.plano.numero_carterinha : null,
                titular_plano: this.edit && this.edit.plano ? this.edit.plano.titular_plano : null,
                cpf_titular: this.edit && this.edit.plano ? this.edit.plano.cpf_titular : null
            },
            this.form._method = this.edit ? 'PUT' : 'post';

            if(this.edit && this.edit.endereco && this.edit.endereco.municipio_id){
                this.setMunicipio();
            }
        }

        
    },

    methods:{
        async setCep(){
            if(this.form.endereco.cep){
               
                let  data = await this.buscaCEP(this.form.endereco.cep);
                this.form.endereco.rua = data.logradouro ? data.logradouro : null;
                this.form.endereco.complemento = data.complemento ? data.complemento : null;
                this.form.endereco.bairro = data.bairro ? data.bairro : null;

                this.estados.forEach( async element => {
                    if(element.sigla === data.uf){
                       this.form.endereco.estado = element.id;
                        await this.setMunicipio().then( () => {
                            this.municipios.forEach( element => {
                                if(element.nome === data.localidade){
                                this.form.endereco.municipio = element.id;
                                }
                            })
                        });
                    }
                })

                

            }
        },

        submit(){
            this.$validator.validateAll('paciente').then( async (valid) => {
                if(valid) {

                    this.notification('Aguarde...', 'Salvando suas informações', 'info', -1);
                    await axios.post(`${this.baseURL}/pacientes${this.edit ? `/${this.edit.id}` : null}`, this.form).then( res => {
                        if(res.status == 201){
                            this.notification('Sucesso', 'Cadastrado com sucesso', 'success');
                            this.clearForm();
                            this.$emit('storePaciente', res.data);
                            this.closeModal('#novoPaciente');
                        }

                        if(res.status == 200){
                            this.notification('Atualizado', 'Atualizado com sucesso', 'success');
                            this.clearForm();
                             this.$emit('updatePaciente', res.data);
                            this.closeModal('#editarPaciente');
                        }
                    }).catch(e => {
                        if(e.response.status == 500){
                            this.notification('Ops', 'Algo deu errado, tente novamente mais tarde', 'error');
                        }
                    });

                } 
            });
        },

        async setMunicipio()
        {
            if(this.form.endereco.estado){
                let municipios = await this.getmunicipios(this.form.endereco.estado);
                this.municipios = municipios.data;
            }
        },

        clearForm(){
            this.form.nome  = null;
            this.form.sexo  = null;
            this.form.data_nascimento  = null;
            this.form.cpf  = null;
            this.form.rg  = null;
            this.form.celular  = null;
            this.form.email  = null;
            this.form.telefone  = null;
            this.form.observacoes  = null;
            this.form.endereco  = {
                cep: null,
                rua: null,
                numero: null,
                complemento: null,
                bairro: null,
                municipio: null,
                estado: null,
            },
            this.form.plano =  {
                plano_id: null,
                numero_carterinha: null,
                titular_plano: null,
                cpf_titular: null
            },
            this.form._method = 'post';
        }
    },

   async mounted(){

        let estados = await this.getestados();
        this.estados = estados.data;

        let planos = await this.getplanos();
        this.planos = planos.data;
    }

}
</script>

<style>

</style>