<template>
    <div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Pacientes</h1>
            <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#novoPaciente">
                <i class="fas fa-plus fa-sm text-white-50"></i> Cadastrar Novo
            </button>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de Pacientes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="table-pacientes" width="100%" cellspacing="0">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th width="30%">Nome</th>
                                <th width="15%">Data Nascimento</th>
                                <th width="15%">Celular</th>
                                <th width="25%">E-mail</th>
                                <th width="15%">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="paciente in pacientes" :key="paciente.id">
                                <td>{{ paciente.nome }}</td>
                                <td>{{ paciente.data_nascimento | momentDate }}</td>
                                <td>{{ paciente.celular }}</td>
                                <td>{{ paciente.email }}</td>
                                <td>
                                    <button 
                                        @click="selected = paciente;"
                                        class="btn btn-sm btn-primary text-white" 
                                        data-toggle="modal" 
                                        data-target="#editPaciente"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </button>

                                    <a href="#" class="btn btn-sm btn-warning text-white">
                                        <i class="fas fa-list"></i>
                                    </a>

                                    <button class="btn btn-sm btn-danger text-white">
                                        <i class="fas fa-times-circle"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <modal id-modal="novoPaciente" title="Cadastrar Paciente" tamanho="modal-lg">
            <form-paciente @storePaciente="selected = null;"></form-paciente>
        </modal>

        <modal id-modal="editPaciente" title="Editar Paciente" tamanho="modal-lg">
            <form-paciente @updatePaciente="selected = null;" :edit="selected"></form-paciente>
        </modal>

    </div>
</template>

<script>
import Mixins from './../shared/Mixins/mixins'
export default {
    mixins: [ Mixins ],
    components:{
        FormPaciente: () => import('./FormPaciente.vue'),
         Modal: () => import('./../shared/Modal/Modal.vue'),
    },

    data(){
        return{
            selected: null,
            pacientes: [],
        }
    },

    methods:{
        async getPacientes(){
           let pacientes = await this.getpacientes();
            this.pacientes = pacientes.data;
        }
    },

    

    async mounted(){
        this.getPacientes().then( () => {
            this.dataTable("#table-pacientes");
        })
    }

}
</script>

<style>

</style>